@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.menu-bar {
    background-color: #0F0E12;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 7vh;
}

.menu-bar a {
    color: white;
    text-align: center;
    margin-left: 30px;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    transition: color 0.3s ease;
}

.menu-bar a:hover {
    color: rgb(194, 194, 214);
}

.logo {
    margin-left: 10px;
    display: flex;
    align-items: center;
    color: white;
    font-size: 1.5em;
}

.logo img {
    height: 5vh;
    width: auto;
    border-radius: 50%;
}


.menu-links {
    display: flex;
    align-items: center;
    margin-left: 30px ;
}

.box {
    position: relative;
    margin-left: auto;
    display: flex;
    align-items: center;
}

.input {
    padding: 10px;
    width: 0;
    height: 40px;
    background: none;
    border: 2px solid #04b5fb;
    border-radius: 50px;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #ececec;
    outline: none;
    transition: width 0.5s ease, opacity 0.5s ease;
    opacity: 0;
    visibility: hidden;
}

.box:hover .input {
    width: 200px;
    background: #3b3640;
    border-radius: 10px;
    opacity: 1;
    visibility: visible;
}

#search-icon {
    margin-right: 10px;
    cursor: pointer;
    font-size: 24px;
}

.login-button {
    display: flex;
    align-items: center;
    margin-left: 10px;
    margin-right: 30px;
}

.login-button button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: var(--color-fill-secondary-default, rgba(255, 255, 255, .15));
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-button button:hover {
    background-color: #636366;
}

/* Dropdown container */
.dropdown {
   
    position: relative;
    display: inline-block;
}

/* Dropdown button */
.dropbtn {
    font-family: 'Open Sans', sans-serif;
    background-color: #0F0E12;
    border-radius: 10px;
    color: white;
    padding: 14px 16px;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    border-radius: 10px;
    background-color: #27272C;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}


/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    color: #636366;
}
