.unity-base-meio {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 50px;
}

.unity-base-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.unity-base img {
    width: 400px;
    height: auto;
   
}

.unity-base h2 {
    font-size: 3em;
    color: white;
}

.unity-info-container {
    background-color: rgb(32, 32, 32);
    width: auto;
    margin-left: 40px;
    margin-right: 40px;
    height: auto;
    border-radius: 10px;
    color: white;
    text-align: left;
    display: flex;
    align-items: center;
    margin-top: 50px;
    
    
}

.unity-info-container .text-content {
    display: flex;
    flex-direction: column;
    flex: 1;
     /* Adicione margem à direita para espaçamento entre o texto e o vídeo */
}

.unity-info-container h2 {
    margin-left: 10px;
    margin-bottom: 10px; /* Adicione margem inferior para espaçamento entre o h2 e o p */
    font-size: 2em;
}

.unity-info-container p {
    color: rgba(255, 255, 255, 0.8);
    margin-left: 10px;
    font-size: 1.2em;
}

.unity-info-container video {
    width: 900px;
    height: auto;
    border-radius: 0 10px 10px 0;
    margin-left: 10px; /* Add some space between text and video */
}

.unity-image-section {
    
    text-align: center;
    margin-top: 40px;
    margin-bottom: 50px;
}

.unity-image-wrapper {
    position: relative;
    display: inline-block;
}

.unity-image-wrapper img {
    width: 1550px; /* Ajuste a largura conforme necessário */
    height: auto;
    border-radius: 5px;
    box-shadow: 0 0 20px #3a5580;
}

.unity-container-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-around;
    width: 80%;
}

.unity-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10px;
    text-align: center; /* Alinha o texto ao centro */
}

.unity-container img {
   
    width: 400px;
    transition: 0.3s ease;
    height: 250px;
}

.unity-container img:hover {
    width: 450px;
    height: 300px;
}

.unity-container a {
    margin-top: 10px;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Alinha o texto ao centro */
}

.unity-container h1, .unity-container p {
    margin: 5px 0; /* Adiciona margem para espaçamento */
}